In [2]:
#import mysql python db-api 
import mysql.connector
from mysql.connector import Error

### Create the database connection

In [3]:
try:
    #get connection object
    conn = mysql.connector.connect(
        host='localhost',
        database='mysql_learners',
        user='root',
        password=''
    )
    #check if connection succeded
    if conn.is_connected():
        db_server_info = conn.get_server_info()
        print("Connected to MySQL Server version ", db_server_info)
        #db_info = conn.get_clinent_info()
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
except Error as e:
    print("Error while connecting to MySQL", e)

Connected to MySQL Server version  8.0.28
You're connected to database:  ('mysql_learners',)

### Create a table in the database

In [6]:
#Lets first drop the table INSTRUCTOR in case it exists from a previous attempt
dropQuery = "drop table if exists INSTRUCTOR"

try:
    cursor.execute(dropQuery)
except Error as e:
    print("Error while execute dropQuery to MySQL", e)
else:
    print("Query run successfully")

Query run successfully

In [9]:
#Lets first drop the table INSTRUCTOR in case it exists from a previous attempt
createQuery = """
    create table INSTRUCTOR (
        ID INT NOT NULL,
        FNAME VARCHAR(20),
        LNAME VARCHAR(20),
        CITY VARCHAR(20),
        CCODE CHAR(2),
        PRIMARY KEY(ID)
    );
    """

try:
    cursor.execute(createQuery)
except Error as e:
    print("Error while execute createQuery to MySQL", e)
else:
    print("createQuery run successfully")

createQuery run successfully

###  Insert data into the table

In [11]:
insertQuery = """
    insert into INSTRUCTOR 
    values(1,'Rav', 'Ahuja','torno','ca'),
        (2,'Ravaa', 'Ajaa','marko','ca'),
        (3,'beboo', 'kemoo','gizaaa','eg');
    """

try:
    cursor.execute(insertQuery)
except Error as e:
    print("Error while execute insertQuery to MySQL", e)
else:
    print("insertQuery run successfully")

insertQuery run successfully

### Query data in the table

In [14]:
selectQuery = "select * from INSTRUCTOR"

try:
    cursor.execute(selectQuery)
except Error as e:
    print("Error while execute selectQuery to MySQL", e)
else:
    print("selectQuery run successfully")

#Fetching 1st row from the table
result = cursor.fetchone();
print(result)

#Fetching 1st row from the table
result = cursor.fetchall();
print(result)

Error while execute selectQuery to MySQL Unread result found
(1, 'Rav', 'Ahuja', 'torno', 'ca')
[(2, 'Ravaa', 'Ajaa', 'marko', 'ca'), (3, 'beboo', 'kemoo', 'gizaaa', 'eg')]

### Retrieve data into Pandas

In [17]:
import pandas as pd

In [18]:
df = pd.read_sql(selectQuery, conn)
df

   ID  FNAME  LNAME    CITY CCODE
0   1    Rav  Ahuja   torno    ca
1   2  Ravaa   Ajaa   marko    ca
2   3  beboo  kemoo  gizaaa    eg

### Close the Connection

In [19]:
cursor.close()
conn.close()